/*font import reference from https://www.w3schools.com/cssref/css3_pr_font-face_rule.asp*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans';
    /* height: 100vh; */
    max-width: 100vw;
}

nav {
    border-bottom: 2px solid mintcream;
    background-color: mintcream;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    /* padding-right: 1rem; */
    /* position: static; */
    width: 100%;
}


.logo {
    width: 5rem;
    height: 4rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.nav-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.nav-btn {
    padding: 5px 1rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
}

.nav-btn:hover, .nav-btn:focus {
    background-color: gray;
}

@media (min-width: 650px) {
    .nav-btn {
        padding: 1rem;
        font-size: 1.2rem;
    }
    .logo{
        padding-top: 0;
    }
}

/*For backgroung image: https://www.w3schools.com/howto/howto_css_full_page.asp*/
.home-container {
    background-image: url('images/background.jpg');
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
	background-size: cover;
}

.home-heading {
    text-align: left;
    margin: auto;
    margin-top: 5rem;
	color:white;
}
.home-para {
    text-align: left;
    margin: auto;
    margin-top: 5rem;
	color:white;
}

.about-container, .work-container, .software-container {
    background-color: black;
    color: mintcream;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.about-heading, .work-heading, .software-heading {
    margin: 1rem 2rem;
    text-align: center;
    border-bottom: 2px solid mintcream;
    border-top: 2px solid mintcream;
    padding: 1rem;
}

.about-card-container, .work-card-container, .software-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-card, .work-card, .software-card {
    margin-top: 2rem;
    border: 2px solid mintcream;
    padding: 0;
    border-radius: 7px;
}

.about-card img, .work-card img , .software-card img{
    max-width: 60vw;
    width: 250px;
    height: 200px;
    border-bottom: 2px solid mintcream;
}

.software-card img{
    width: 150px;
    height: 150px;
}
.about-card h3, .work-card h3 ,.software-card h3{
    text-align: center;
    margin-top: 10px;
}

.work-card {
    margin: 2rem 1rem;
}

/*! Registration Form  */
/*! Source:https://www.w3schools.com/tags/tag_form.asp */
/*! Reference:https://www.123formbuilder.com/free-form-templates/Contact-Form-271209/  */
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 34px;
}

.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.wrapper h2::before{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #4070f4;
  border-radius: 12px;
}

.wrapper form{
  margin-top: 30px;
}

.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}

form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border-bottom-width: 2.5px;
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}

form .policy{
  display: flex;
  align-items: center;
}

form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.input-box.button input{
  color: #fff;
  letter-spacing: 2px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}

.input-box.button input:hover{
  background: #fff;
  color: #000;
}
.input-box button::after {
  content: "";
  clear: both;
  display: table;
}
           
/* Three columns side by side Referance: https://www.w3schools.com/howto/howto_css_team.asp*/
.column1 {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}



/* Add some shadows to create a card effect */
.photo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container1 {
  padding: 0 16px;
}

/* Clear floats */
.container1::after, .RT::after {
  content: "";
  clear: both;
  display: table;
}
/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
  .column1 {
    width: 100%;
    display: block;
  }
}

.title1 {
  color: blue;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}	


	
/* CSS for The team page */
/*REFERENCE: https://www.w3schools.com/howto/howto_css_team.asp*/
/*Allison*/
	html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.column4 {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
    padding: 0 8px;
}

.card4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container4 {
  padding: 0 16px;
}

.container4::after, .row4::after {
  content: "";
  clear: both;
  display: table;
}

.title4 {
  color: grey;
  }

.button4 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button4:hover {
  background-color: #555;
}

/*css for the projects page div classes*/
/*Reference: https://www.w3schools.com/tags/tag_figure.asp*/
/*Reference: https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/
/*https://www.w3schools.com/howto/howto_css_image_center.asp*/
/*Allison*/

/*this is the figure*/

/*this is the fig caption*/
.ProjectRS11 {
  font-style: italic;
  }
/*this is the container*/
.RSprojects1 {
  background-color: #eee;
  color: Black;
    padding: 10px;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
 ;
}
/*this is the paragraph*/  
.ProjectsP { 
  background-color: white;}
