/*font import reference from https://www.w3schools.com/cssref/css3_pr_font-face_rule.asp*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    padding: 65px;
    margin: 0;
    font-family: 'PT Sans';
    /* height: 100vh; */
    max-width: 100vw;
}
/*navbar+ top image starts*/
.navbarcontainer {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbarfixed {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .navbarfixed .navbarcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
  }
  
  .navbarfixed ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }
  
  .navbarfixed a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .navbarfixed.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .navbarfixed.active a {
    color: #000;
  }
  
  .navbarfixed.active .navbarcontainer {
    padding: 10px 0;
  }
  
  .navbarfixed a.current,
  .navbarfixed a:hover {
    color: #c0392b;
    font-weight: bold;
  }
  
  .topimage {
    background-image: url('world.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
  }
  
  .topimage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  .topimage h1 {
    font-size: 46px;
    margin: -20px 0 20px;
    animation-duration: 1s;
    animation-name: slideright;
  }
  .topimage p {
    font-size: 20px;
    margin: -20px 0 20px;
    animation-duration: 2s;
    animation-name: slideright;
  }
  
  
  /* text effect for top image  */
   @keyframes slideright {
              from {
                  margin-left: 100%;
                  width: 300%;
              }
  
              to {
                  margin-left: 0%;
                  width: 100%;
              }
/*navbar+ top image ends*/
  

.about-container, .work-container, .software-container {
    background-color: mintcream;
    color: black;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.about-heading, .work-heading, .software-heading {
    margin: 1rem 2rem;
    background-color: rgb(198, 243, 220);
    text-align: center;
    border-bottom: 2px solid rgba(5, 29, 17, 0.212);
    border-top: 2px solid rgba(5, 29, 17, 0.212) ;
    padding: 1rem;
}

.about-card-container, .work-card-container, .software-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-card, .work-card, .software-card {
    margin-top: 2rem;
    border: 2px solid rgb(6, 15, 11);
    padding: 0;
    border-radius: 7px;
}

.about-card img, .work-card img , .software-card img{
    max-width: 60vw;
    width: 250px;
    height: 200px;
    border-bottom: 2px solid mintcream;
}

.software-card img{
    width: 150px;
    height: 150px;
}
.about-card h3, .work-card h3 ,.software-card h3{
    text-align: center;
    margin-top: 10px;
}

.work-card {
    margin: 2rem 1rem;
}


/*Career Page CSS */ 
.png
{
      width: 40%;
}
.content{
    width: 62%;
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(20, 19, 19);
  }
  
  .titlec{
    font-size: 70px;
    line-height: 100px;
    font-weight: bold;
    height: 120px;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    overflow: hidden;
  }
  
  .content p{
    font-size: 25px;
    font-weight: 100;
    line-height: 25px;
  }
  
  button{
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    border: 1px solid rgb(23, 68, 5);
    border-radius: 20px;
    color: rgb(7, 7, 7);
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, #ffc2ff 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.5s;
  }
  
  button:hover{
    background-position: left;
  }
  
  .slider{
    color: #0751ff;
    margin-left: 12px;
    box-sizing: border-box;
    animation: slider 6s linear infinite;
  }
  
  @keyframes slider{
    0%{margin-top: -200px;}
    30%{margin-top: -200px;}
    35%{margin-top: 0px;}
    65%{margin-top: 0px;}
    70%{margin-top: 200px;}
    100%{margin-top: 200px;}
  }



/*  ---------------------------FOOTER SECTION Starts Here ---------------------------------*/

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: auto;
    bottom: 50px;
    margin-bottom: 50px;
}
.footer-content h1{
    color:  black;
	text-align: center;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.footer-bottom-text{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 40px;
}
.footer-bottom-text p{
    color: #b7b7b7;
    margin-bottom: 0;
}

.footer-bottom-text p a{
    color: #e53637;
}

/*  social media icon placement and hover effects inside footer section */
.socialicon{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socialicon li{
    margin: 0 10px;
}

.socialicon a{
    text-decoration: none;
    color: black;
    border: 1.5px solid black;
    padding: 10px;
    border-radius: 50%;
}

.socialicon a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socialicon a:hover i{
	transform: translateY(-10px);
    color: aqua;
}

	
/*  ---------------------------FOOTER SECTION Ends ---------------------------------*/

  
/*Services Page CSS - Allison*/
/*Reference:https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/

.ServicesHead {
    background-color: mintcream;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.services {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px rgb(189, 247, 218);
}

/*About Page CSS - Allison*/
/*Reference:https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/

.AboutHead {
    background-color: mintcream;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px rgb(189, 247, 218);
}
/*Meet the team on about page*/
/*Reference:https://www.w3schools.com/howto/howto_css_team.asp*/
   
.columnteam {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .columnteam {
    width: 100%;
    display: block;
  }
}

.cardteam {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.containerteam {
  padding: 0 16px;
}


.titleteam {
  color: grey;
}

.buttonteam {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: Black;
  background-color: rgb(189, 247, 218);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.buttonteam:hover {
  background-color: #555;
}


  
  
