/*font import reference from https://www.w3schools.com/cssref/css3_pr_font-face_rule.asp*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    padding: 65px;
    margin: 0;
    font-family: 'PT Sans';
    /* height: 100vh; */
    max-width: 100vw;
}

nav {
    border-bottom: 2px solid mintcream;
    background-color: rgb(189, 247, 218);
    box-shadow: 2px 2px 2px 1px rgba(7, 7, 7, 0.2);
    display: flex;
    justify-content: space-between;
    /* padding-right: 1rem; */
    /* position: static; */
    width: 100%;
}


.logo {
    width: 5rem;
    height: 4rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.nav-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.nav-btn {
    padding: 5px 1rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
}

.nav-btn:hover, .nav-btn:focus {
    background-color: gray;
}

@media (min-width: 650px) {
    .nav-btn {
        padding: 1rem;
        font-size: 1.2rem;
    }
    .logo{
        padding-top: 0;
    }
}

/*For backgroung image: https://www.w3schools.com/howto/howto_css_full_page.asp*/
.home-container {
    background-image: url('../images/background.jpg');
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    background-size: cover;
}

.home-heading {
    text-align: left;
    margin: auto;
    margin-top: 5rem;
    color:white;
}
.home-para {
    text-align: left;
    margin: auto;
    margin-top: 5rem;
    color:white;
}

.about-container, .work-container, .software-container {
    background-color: mintcream;
    color: black;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.about-heading, .work-heading, .software-heading {
    margin: 1rem 2rem;
    background-color: rgb(198, 243, 220);
    text-align: center;
    border-bottom: 2px solid rgba(5, 29, 17, 0.212);
    border-top: 2px solid rgba(5, 29, 17, 0.212) ;
    padding: 1rem;
}

.about-card-container, .work-card-container, .software-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-card, .work-card, .software-card {
    margin-top: 2rem;
    border: 2px solid rgb(6, 15, 11);
    padding: 0;
    border-radius: 7px;
}

.about-card img, .work-card img , .software-card img{
    max-width: 60vw;
    width: 250px;
    height: 200px;
    border-bottom: 2px solid mintcream;
}

.software-card img{
    width: 150px;
    height: 150px;
}
.about-card h3, .work-card h3 ,.software-card h3{
    text-align: center;
    margin-top: 10px;
}

.work-card {
    margin: 2rem 1rem;
}

nav
{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      transition: all 0.4s ease;

}

nav.sticky
{
      padding: 15px 20px;
      background: #3b3e46;
      box-shadow: 0 5px 10px rgba(0,0,0,0.1);
 }

  nav .nav-content
  {
      height: 100%;
      max-width: 1200px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  nav .logo a{
        font-weight: 500;
        font-size: 35px;
        color: #fff;
        transition: all 0.3s ease;
  }

  nav .logo a:hover
  {
      letter-spacing: 4px;
  }
  .home
  {
      height: 100vh;
      width: 100%;
      background: url(images/background.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      font-family: sans-serif;
  }

  nav.sticky .logo a{
      color: #fff;
  }



  .nav-content .nav-links
  {
      display: flex;
  }

  .nav-content .nav-links li{
      list-style: none;
      margin: 08px;
  }

  .nav-links li a{
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      padding: 10px;
      transition: all 0.3s ease;
  }

  .nav-links li a:hover
  {
      color: #ffbf00;
      letter-spacing: 4px;
  }

  nav.sticky .nav-links li a
  {
      color: #fff;
      transition: all 0.4s ease;
  }

  nav.sticky .nav-links li a:hover
  {
    color: #ffbf00;
    letter-spacing: 4px;
  }

  .text
  {
      text-align: center;
      padding: 40px 80px;
      box-shadow: -5px 0 10px rgba(0,0,0,0.1);
  }
/*Career Page CSS */ 
.png
{
      width: 40%;
}
.content{
    width: 62%;
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(20, 19, 19);
  }
  
  .title{
    font-size: 70px;
    line-height: 100px;
    font-weight: bold;
    height: 120px;
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    overflow: hidden;
  }
  
  .content p{
    font-size: 25px;
    font-weight: 100;
    line-height: 25px;
  }
  
  button{
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    border: 1px solid rgb(23, 68, 5);
    border-radius: 20px;
    color: rgb(7, 7, 7);
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, #ffc2ff 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.5s;
  }
  
  button:hover{
    background-position: left;
  }
  
  .slider{
    color: #0751ff;
    margin-left: 12px;
    box-sizing: border-box;
    animation: slider 6s linear infinite;
  }
  
  @keyframes slider{
    0%{margin-top: -200px;}
    30%{margin-top: -200px;}
    35%{margin-top: 0px;}
    65%{margin-top: 0px;}
    70%{margin-top: 200px;}
    100%{margin-top: 200px;}
  }
  /*form career page CSS*/
  /*Source   */
  input[type=text], select 
  {
    width: 100%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #90e9ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }



/*  ---------------------------FOOTER SECTION Starts Here ---------------------------------*/

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: auto;
    bottom: 50px;
    margin-bottom: 50px;
}
.footer-content h1{
    color:  black;
	text-align: center;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.footer-bottom-text{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 40px;
}
.footer-bottom-text p{
    color: #b7b7b7;
    margin-bottom: 0;
}

.footer-bottom-text p a{
    color: #e53637;
}

/*  social media icon placement and hover effects inside footer section */
.socialicon{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socialicon li{
    margin: 0 10px;
}

.socialicon a{
    text-decoration: none;
    color: black;
    border: 1.5px solid black;
    padding: 10px;
    border-radius: 50%;
}

.socialicon a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socialicon a:hover i{
	transform: translateY(-10px);
    color: aqua;
}

	
/*  ---------------------------FOOTER SECTION Ends ---------------------------------*/

  
/*Services Page CSS - Allison*/
/*Reference:https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/

.ServicesHead {
    background-color: mintcream;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.services {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px rgb(189, 247, 218);
}

/*About Page CSS - Allison*/
/*Reference:https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/

.AboutHead {
    background-color: mintcream;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px rgb(189, 247, 218);
}
/*Meet the team on about page*/
/*Reference:https://www.w3schools.com/howto/howto_css_team.asp*/
   
.columnteam {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .columnteam {
    width: 100%;
    display: block;
  }
}

.cardteam {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.containerteam {
  padding: 0 16px;
}


.titleteam {
  color: grey;
}

.buttonteam {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: Black;
  background-color: rgb(189, 247, 218);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.buttonteam:hover {
  background-color: #555;
}


  
  
