/*font import reference from https://www.w3schools.com/cssref/css3_pr_font-face_rule.asp*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans';
    /* height: 100vh; */
    max-width: 100vw;
}

nav {
    border-bottom: 2px solid mintcream;
    background-color: mintcream;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    /* padding-right: 1rem; */
    /* position: static; */
    width: 100%;
}


.logo {
    width: 5rem;
    height: 4rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.nav-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.nav-btn {
    padding: 5px 1rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
}

.nav-btn:hover, .nav-btn:focus {
    background-color: gray;
}

@media (min-width: 650px) {
    .nav-btn {
        padding: 1rem;
        font-size: 1.2rem;
    }
    .logo{
        padding-top: 0;
    }
}

/*For backgroung image: https://www.w3schools.com/howto/howto_css_full_page.asp*/
.home-container {
    background-image: url('../../images/background.jpg');
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    background-size: cover;
}

.home-heading {
    text-align: left;
    margin: auto;
    margin-top: 5rem;
    color:red;
}
.home-para {
    text-align: left;
    margin: auto;
    margin-top: 5rem;
    color:red;
}

.about-container, .work-container, .software-container {
    background-color: black;
    color: mintcream;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.about-heading, .work-heading, .software-heading {
    margin: 1rem 2rem;
    text-align: center;
    border-bottom: 2px solid mintcream;
    border-top: 2px solid mintcream;
    padding: 1rem;
}

.about-card-container, .work-card-container, .software-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-card, .work-card, .software-card {
    margin-top: 2rem;
    border: 2px solid mintcream;
    padding: 0;
    border-radius: 7px;
}

.about-card img, .work-card img , .software-card img{
    max-width: 60vw;
    width: 250px;
    height: 200px;
    border-bottom: 2px solid mintcream;
}

.software-card img{
    width: 150px;
    height: 150px;
}
.about-card h3, .work-card h3 ,.software-card h3{
    text-align: center;
    margin-top: 10px;
}

.work-card {
    margin: 2rem 1rem;
}


