body {
	padding-top: 50px;
	color: #959595;
	}
	
h1, h2, h3, h4, h5, h6 {
	color: black;
	}

/*! Intro  background */
.feature {
	background-color: yellowgreen;
	color: greenyellow;
	}
/*! Footer background */
.footer-blurb {
    padding: 30px 0;
    background-color: goldenrod;
    color: black;
}
    
/*! Aligning parts of the body in the centre */
.feature,.page-intro,.article-intro,.footer-blurb {
	text-align: center;
	}
/*! Navigation Block */
.navbar {
  text-align: right;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.navbar ul li{
	display: inline-block;
	margin-right: 50px;
}	

/*! Responsive NavigationBar */
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
/* Keeping navbar tabs in aligned position */
.navbar-nav {
  margin: 7.5px -15px;
  text-align: right;
  list-style-type: none;
}
	
/*! class for brand icon in navbar */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/*! Trying inverted nav bar   */
.navbar-inverse {
  background-color: #999;
  border-color: #080808;
}
/*! class for fixing navigation bar at the top along with resposive deisgn */
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-top {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
/*! class for font design of the brand */
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-nav {
  margin: 7.5px -15px;
}
/*! class for defining background middle body */
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 1200px) {
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
}}
/*! class for defining style of middle body */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
/*! class for defining style of middle body */
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}
.jumbotron h1,.jumbotron .h1 {
  color: inherit;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
  color: black;
}
/*! outline around the selected/current tab in the navbar */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
/*! Hover over navbar options */
.navbar a:hover {
	background: #ddd;
	color: black;
}


/* Reference maps Css inspired from https://youtu.be/yQimoqo0-7g */
.categories{
	margin: 70px;
}
.row1{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 70px;
}	
.col3{
	flex-basis: 40%;
	min-width: 250px;
	margin-bottom: 30px;	
}
.col1{
	text-align: center;
	flex-basis: 20%;
	padding: 20px;
	min-width: 250px;
}
/*! Registration Form  */
/*! Source:https://www.w3schools.com/tags/tag_form.asp */
/*! Reference:https://www.123formbuilder.com/free-form-templates/Contact-Form-271209/  */
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 34px;
}

.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.wrapper h2::before{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #4070f4;
  border-radius: 12px;
}

.wrapper form{
  margin-top: 30px;
}

.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}

form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border-bottom-width: 2.5px;
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}

form .policy{
  display: flex;
  align-items: center;
}

form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.input-box.button input{
  color: #fff;
  letter-spacing: 2px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}

.input-box.button input:hover{
  background: #fff;
  color: #000;
}
.input-box button::after {
  content: "";
  clear: both;
  display: table;
}
           
/* Three columns side by side Referance: https://www.w3schools.com/howto/howto_css_team.asp*/
.column1 {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}



/* Add some shadows to create a card effect */
.photo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container1 {
  padding: 0 16px;
}

/* Clear floats */
.container1::after, .RT::after {
  content: "";
  clear: both;
  display: table;
}
/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
  .column1 {
    width: 100%;
    display: block;
  }
}

.title1 {
  color: blue;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}	